<!-- Modal Begins Here -->
<div class="modal fade" id="{{include.modal_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" class="img-fluid" id="{{include.img_id}}">
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    <!-- Script for Modal Begins Here -->
<script>
  $(document).ready(function() {
      $('.carousel img').click(function(event) {
          event.preventDefault(); // Prevent the default action
  
          var imgSrc = this.src;
          $('#lightbox-img').attr('src', imgSrc);
  
          console.log('Modal should be open now without jumping the page.'); // Debug message
      });
  
      // Check if the modal is being shown and log it
      $('#lightboxModal').on('show.bs.modal', function () {
          console.log('Modal is being shown.');
      });
  
      // Check if the modal has finished being hidden and log it
      $('#lightboxModal').on('hidden.bs.modal', function () {
          console.log('Modal has been hidden.');
      });
  });
  </script>
  </div>