---
layout: default_2
---

<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<a href="{{ '/blog.html' | relative_url }}" class="back-link mb-4 d-inline-block">
					<i class="ti-arrow-left mr-2"></i>Back to Blog
				</a>

				<article class="blog-single">
					<h1 class="mb-3">{{ page.title }}</h1>

					<div class="post-meta text-uppercase mb-4">
						{% if page.author %}
						<span class="text-color">{{ page.author }}</span>
						{% endif %}
						{% if page.date %}
						<span class="text-color">/ {{ page.date | date_to_long_string }}</span>
						{% endif %}
					</div>

					{% if page.post_image %}
					<div class="blog-img position-relative mb-5">
						<img src="{{ page.post_image | relative_url }}" alt="{{ page.title }}" class="img-fluid w-100" />
					</div>
					{% endif %}

					<div class="post-content">
						{{ page.content }}
					</div>

					{% if page.tags.size > 0 %}
					<div class="post-tags mt-5 mb-4">
						<h5 class="mb-3">Tags</h5>
						{% for tag in page.tags %}
						<a href="{{ tag | slugify | prepend: '/tag/' | relative_url }}">{{ tag }}</a>
						{% endfor %}
					</div>
					{% endif %}

					<div class="my-4">
						{% include social_share_post.html %}
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
